@model OglasnikItProekt.Models.Avtomobil
@{
    ViewBag.Title = "Avtomobil";
}

<h2 class="text-center pb-3" style="color: darkblue">Автомобили</h2>
<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="/Images/a/a7.jpg" alt="" style="width:350px; height:200px" />
        <div class="caption">
            @*<h3 class="pull-right">$@Model.Cena.ToString()</h3>*@
            <h3>
                <a href="/Home/Details/@Model.AvtomobilID">@Model.Ime</a>
            </h3>
            <p>@Model.Opis</p>
        </div>
        <div class="addToCart text-right">
            <p class="button ">
                <a>@Html.ActionLink("Види повеќе..", "AddToShoppingCart", "ShoppingCart", new { id = Model.AvtomobilID }, new { @class = "btn btn-success" })</a>
            </p>
        </div>

    </div>

</div>
<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="/Images/a/a5.jpg" alt="" style="width:350px; height:200px" />
        <div class="caption">
            @*<h3 class="pull-right">$@Model.Cena.ToString()</h3>*@
            <h3>
                <a href="/Home/Details/@Model.AvtomobilID">@Model.Ime</a>
            </h3>
            <p>@Model.Opis</p>
        </div>
        <div class="addToCart text-right">
            <p class="button ">
                <a>@Html.ActionLink("Види повеќе..", "AddToShoppingCart", "ShoppingCart", new { id = Model.AvtomobilID }, new { @class = "btn btn-success" })</a>
            </p>
        </div>

    </div>

</div>
<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="/Images/a/a4.jpg" alt="" style="width:350px; height:200px" />
        <div class="caption">
            @*<h3 class="pull-right">$@Model.Cena.ToString()</h3>*@
            <h3>
                <a href="/Home/Details/@Model.AvtomobilID">@Model.Ime</a>
            </h3>
            <p>@Model.Opis</p>
        </div>
        <div class="addToCart text-right">
            <p class="button ">
                <a>@Html.ActionLink("Види повеќе..", "AddToShoppingCart", "ShoppingCart", new { id = Model.AvtomobilID }, new { @class = "btn btn-success" })</a>
            </p>
        </div>

    </div>

</div>
<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="/Images/a/a3.jpg" alt="" style="width:350px; height:200px" />
        <div class="caption">
            @*<h3 class="pull-right">$@Model.Cena.ToString()</h3>*@
            <h3>
                <a href="/Home/Details/@Model.AvtomobilID">@Model.Ime</a>
            </h3>
            <p>@Model.Opis</p>
        </div>
        <div class="addToCart text-right">
            <p class="button ">
                <a>@Html.ActionLink("Види повеќе..", "AddToShoppingCart", "ShoppingCart", new { id = Model.AvtomobilID }, new { @class = "btn btn-success" })</a>
            </p>
        </div>

    </div>

</div>
<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="/Images/a/a2.jpg" alt="" style="width:350px; height:200px" />
        <div class="caption">
            @* <h3 class="pull-right">$@Model.Cena.ToString()</h3>*@
            <h3>
                <a href="/Home/Details/@Model.AvtomobilID">@Model.Ime</a>
            </h3>
            <p>@Model.Opis</p>
        </div>
        <div class="addToCart text-right">
            <p class="button ">
                <a>@Html.ActionLink("Види повеќе..", "AddToShoppingCart", "ShoppingCart", new { id = Model.AvtomobilID }, new { @class = "btn btn-success" })</a>
            </p>
        </div>

    </div>

</div>
<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="/Images/a/a1.jpg" alt="" style="width:350px; height:200px" />
        <div class="caption">
            @*<h3 class="pull-right">$@Model.Cena.ToString()</h3>*@
            <h3>
                <a href="/Home/Details/@Model.AvtomobilID">@Model.Ime</a>
            </h3>
            <p>@Model.Opis</p>
        </div>
        <div class="addToCart text-right">
            <p class="button ">
                <a>@Html.ActionLink("Види повеќе..", "AddToShoppingCart", "ShoppingCart", new { id = Model.AvtomobilID }, new { @class = "btn btn-success" })</a>
            </p>
        </div>

    </div>

</div>
<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="/Images/a/a9.jpg" alt="" style="width:350px; height:200px" />
        <div class="caption">
            @* <h3 class="pull-right">$@Model.Cena.ToString()</h3>*@
            <h3>
                <a href="/Home/Details/@Model.AvtomobilID">@Model.Ime</a>
            </h3>
            <p>@Model.Opis</p>
        </div>
        <div class="addToCart text-right">
            <p class="button ">
                <a>@Html.ActionLink("Види повеќе..", "AddToShoppingCart", "ShoppingCart", new { id = Model.AvtomobilID }, new { @class = "btn btn-success" })</a>
            </p>
        </div>

    </div>

</div>
<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="/Images/a/a6.jpg" alt="" style="width:350px; height:200px" />
        <div class="caption">
            @*<h3 class="pull-right">@Model.Cena.ToString()</h3>*@
            <h3>
                <a href="/Home/Details/@Model.AvtomobilID">@Model.Ime</a>
            </h3>
            <p>@Model.Opis</p>
        </div>
        <div class="addToCart text-right">
            <p class="button ">
                <a>@Html.ActionLink("Види повеќе..", "AddToShoppingCart", "ShoppingCart", new { id = Model.AvtomobilID }, new { @class = "btn btn-success" })</a>
            </p>
        </div>

    </div>

</div>
<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="/Images/a/a8.jpg" alt="" style="width:350px; height:200px" />
        <div class="caption">
            @*<h3 class="pull-right">$@Model.Cena.ToString()</h3>*@
            <h3>
                <a href="/Home/Details/@Model.AvtomobilID">@Model.Ime</a>
            </h3>
            <p>@Model.Opis</p>
        </div>
        <div class="addToCart text-right">
            <p class="button ">
                <a>@Html.ActionLink("Види повеќе..", "AddToShoppingCart", "ShoppingCart", new { id = Model.AvtomobilID }, new { @class = "btn btn-success" })</a>
            </p>
        </div>

    </div>

</div>