@model OglasnikItProekt.Models.BelaTehnika
@{
    ViewBag.Title = "Avtomobil";
}

<h2 class="text-center pb-3" style="color: darkblue">Бела техника</h2>
<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="/Images/b/b13.jpg" alt="" style="width:350px; height:200px" />
        <div class="caption">
            @*<h3 class="pull-right">$@Model.Cena.ToString()</h3>*@
            <h3>
                <a href="/Home/Details/@Model.BelaTehnikaID">@Model.Ime</a>
            </h3>
            <p>@Model.Opis</p>
        </div>
        <div class="addToCart text-right">
            <p class="button ">
                <a>@Html.ActionLink("Види повеќе..", "AddToShoppingCart", "ShoppingCart", new { id = Model.BelaTehnikaID }, new { @class = "btn btn-success" })</a>
            </p>
        </div>

    </div>

</div>
<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="/Images/b/b1.jpg" alt="" style="width:200px; height:200px" />
        <div class="caption">
            @*<h3 class="pull-right">$@Model.Cena.ToString()</h3>*@
            <h3>
                <a href="/Home/Details/@Model.BelaTehnikaID">@Model.Ime</a>
            </h3>
            <p>@Model.Opis</p>
        </div>
        <div class="addToCart text-right">
            <p class="button ">
                <a>@Html.ActionLink("Види повеќе..", "AddToShoppingCart", "ShoppingCart", new { id = Model.BelaTehnikaID }, new { @class = "btn btn-success" })</a>
            </p>
        </div>

    </div>

</div>
<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="/Images/b/b2.jpg" alt="" style="width:200px; height:200px" />
        <div class="caption">
            @*<h3 class="pull-right">$@Model.Cena.ToString()</h3>*@
            <h3>
                <a href="/Home/Details/@Model.BelaTehnikaID">@Model.Ime</a>
            </h3>
            <p>@Model.Opis</p>
        </div>
        <div class="addToCart text-right">
            <p class="button ">
                <a>@Html.ActionLink("Види повеќе..", "AddToShoppingCart", "ShoppingCart", new { id = Model.BelaTehnikaID }, new { @class = "btn btn-success" })</a>
            </p>
        </div>

    </div>

</div>
<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="/Images/b/b3.jpg" alt="" style="width:250px; height:200px" />
        <div class="caption">
            @*<h3 class="pull-right">$@Model.Cena.ToString()</h3>*@
            <h3>
                <a href="/Home/Details/@Model.BelaTehnikaID">@Model.Ime</a>
            </h3>
            <p>@Model.Opis</p>
        </div>
        <div class="addToCart text-right">
            <p class="button ">
                <a>@Html.ActionLink("Види повеќе..", "AddToShoppingCart", "ShoppingCart", new { id = Model.BelaTehnikaID }, new { @class = "btn btn-success" })</a>
            </p>
        </div>

    </div>

</div>
<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="/Images/b/b15.png" alt="" style="width:200px; height:200px" />
        <div class="caption">
            @* <h3 class="pull-right">$@Model.Cena.ToString()</h3>*@
            <h3>
                <a href="/Home/Details/@Model.BelaTehnikaID">@Model.Ime</a>
            </h3>
            <p>@Model.Opis</p>
        </div>
        <div class="addToCart text-right">
            <p class="button ">
                <a>@Html.ActionLink("Види повеќе..", "AddToShoppingCart", "ShoppingCart", new { id = Model.BelaTehnikaID }, new { @class = "btn btn-success" })</a>
            </p>
        </div>

    </div>

</div>
<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="/Images/b/b6.jpg" alt="" style="width:350px; height:200px" />
        <div class="caption">
            @*<h3 class="pull-right">$@Model.Cena.ToString()</h3>*@
            <h3>
                <a href="/Home/Details/@Model.BelaTehnikaID">@Model.Ime</a>
            </h3>
            <p>@Model.Opis</p>
        </div>
        <div class="addToCart text-right">
            <p class="button ">
                <a>@Html.ActionLink("Види повеќе..", "AddToShoppingCart", "ShoppingCart", new { id = Model.BelaTehnikaID }, new { @class = "btn btn-success" })</a>
            </p>
        </div>

    </div>

</div>
<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="/Images/b/b6.jpg" alt="" style="width:350px; height:200px" />
        <div class="caption">
            @* <h3 class="pull-right">$@Model.Cena.ToString()</h3>*@
            <h3>
                <a href="/Home/Details/@Model.BelaTehnikaID">@Model.Ime</a>
            </h3>
            <p>@Model.Opis</p>
        </div>
        <div class="addToCart text-right">
            <p class="button ">
                <a>@Html.ActionLink("Види повеќе..", "AddToShoppingCart", "ShoppingCart", new { id = Model.BelaTehnikaID }, new { @class = "btn btn-success" })</a>
            </p>
        </div>

    </div>

</div>
<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="/Images/b/b7.jpg" alt="" style="width:250px; height:200px" />
        <div class="caption">
            @*<h3 class="pull-right">@Model.Cena.ToString()</h3>*@
            <h3>
                <a href="/Home/Details/@Model.BelaTehnikaID">@Model.Ime</a>
            </h3>
            <p>@Model.Opis</p>
        </div>
        <div class="addToCart text-right">
            <p class="button ">
                <a>@Html.ActionLink("Види повеќе..", "AddToShoppingCart", "ShoppingCart", new { id = Model.BelaTehnikaID }, new { @class = "btn btn-success" })</a>
            </p>
        </div>

    </div>

</div>
<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="/Images/b/b8.jpg" alt="" style="width:200px; height:200px" />
        <div class="caption">
            @*<h3 class="pull-right">$@Model.Cena.ToString()</h3>*@
            <h3>
                <a href="/Home/Details/@Model.BelaTehnikaID">@Model.Ime</a>
            </h3>
            <p>@Model.Opis</p>
        </div>
        <div class="addToCart text-right">
            <p class="button ">
                <a>@Html.ActionLink("Види повеќе..", "AddToShoppingCart", "ShoppingCart", new { id = Model.BelaTehnikaID }, new { @class = "btn btn-success" })</a>
            </p>
        </div>

    </div>

</div>