@model OglasnikItProekt.Models.Mobilen
@{
    ViewBag.Title = "Mobilen";
}

<h2 class="text-center pb-3" style="color: darkblue">Мобилни телефони</h2>
<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="/Images/m/m1.jpg" alt="" style="width:200px; height:200px" />
        <div class="caption">
            @*<h3 class="pull-right">$@Model.Cena.ToString()</h3>*@
            <h3>
                <a href="/Home/Details/@Model.MobilenID">@Model.Ime</a>
            </h3>
            <p>@Model.Opis</p>
        </div>
        <div class="addToCart text-right">
            <p class="button ">
                <a>@Html.ActionLink("Види повеќе..", "AddToShoppingCart", "ShoppingCart", new { id = Model.MobilenID }, new { @class = "btn btn-success" })</a>
            </p>
        </div>

    </div>

</div>
<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="/Images/m/m2.jpg" alt="" style="width:200px; height:200px" />
        <div class="caption">
            @*<h3 class="pull-right">$@Model.Cena.ToString()</h3>*@
            <h3>
                <a href="/Home/Details/@Model.MobilenID">@Model.Ime</a>
            </h3>
            <p>@Model.Opis</p>
        </div>
        <div class="addToCart text-right">
            <p class="button ">
                <a>@Html.ActionLink("Види повеќе..", "AddToShoppingCart", "ShoppingCart", new { id = Model.MobilenID }, new { @class = "btn btn-success" })</a>
            </p>
        </div>

    </div>

</div>
<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="/Images/m/m15.jpeg" alt="" style="width:150px; height:200px" />
        <div class="caption">
            @*<h3 class="pull-right">$@Model.Cena.ToString()</h3>*@
            <h3>
                <a href="/Home/Details/@Model.MobilenID">@Model.Ime</a>
            </h3>
            <p>@Model.Opis</p>
        </div>
        <div class="addToCart text-right">
            <p class="button ">
                <a>@Html.ActionLink("Види повеќе..", "AddToShoppingCart", "ShoppingCart", new { id = Model.MobilenID }, new { @class = "btn btn-success" })</a>
            </p>
        </div>

    </div>

</div>
<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="/Images/m/tel.jpg" alt="" style="width:200px; height:200px" />
        <div class="caption">
            @*<h3 class="pull-right">$@Model.Cena.ToString()</h3>*@
            <h3>
                <a href="/Home/Details/@Model.MobilenID">@Model.Ime</a>
            </h3>
            <p>@Model.Opis</p>
        </div>
        <div class="addToCart text-right">
            <p class="button ">
                <a>@Html.ActionLink("Види повеќе..", "AddToShoppingCart", "ShoppingCart", new { id = Model.MobilenID }, new { @class = "btn btn-success" })</a>
            </p>
        </div>

    </div>

</div>
<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="/Images/m/m16.jpg" alt="" style="width:150px; height:200px" />
        <div class="caption">
            @* <h3 class="pull-right">$@Model.Cena.ToString()</h3>*@
            <h3>
                <a href="/Home/Details/@Model.MobilenID">@Model.Ime</a>
            </h3>
            <p>@Model.Opis</p>
        </div>
        <div class="addToCart text-right">
            <p class="button ">
                <a>@Html.ActionLink("Види повеќе..", "AddToShoppingCart", "ShoppingCart", new { id = Model.MobilenID }, new { @class = "btn btn-success" })</a>
            </p>
        </div>

    </div>

</div>
<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="/Images/m/tel2.jpg" alt="" style="width:150px; height:200px" />
        <div class="caption">
            @*<h3 class="pull-right">$@Model.Cena.ToString()</h3>*@
            <h3>
                <a href="/Home/Details/@Model.MobilenID">@Model.Ime</a>
            </h3>
            <p>@Model.Opis</p>
        </div>
        <div class="addToCart text-right">
            <p class="button ">
                <a>@Html.ActionLink("Види повеќе..", "AddToShoppingCart", "ShoppingCart", new { id = Model.MobilenID }, new { @class = "btn btn-success" })</a>
            </p>
        </div>

    </div>

</div>
<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="/Images/m/m11.jpg" alt="" style="width:150px; height:200px" />
        <div class="caption">
            @* <h3 class="pull-right">$@Model.Cena.ToString()</h3>*@
            <h3>
                <a href="/Home/Details/@Model.MobilenID">@Model.Ime</a>
            </h3>
            <p>@Model.Opis</p>
        </div>
        <div class="addToCart text-right">
            <p class="button ">
                <a>@Html.ActionLink("Види повеќе..", "AddToShoppingCart", "ShoppingCart", new { id = Model.MobilenID }, new { @class = "btn btn-success" })</a>
            </p>
        </div>

    </div>

</div>
<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="/Images/m/m12.jpg" alt="" style="width:150px; height:200px" />
        <div class="caption">
            @*<h3 class="pull-right">@Model.Cena.ToString()</h3>*@
            <h3>
                <a href="/Home/Details/@Model.MobilenID">@Model.Ime</a>
            </h3>
            <p>@Model.Opis</p>
        </div>
        <div class="addToCart text-right">
            <p class="button ">
                <a>@Html.ActionLink("Види повеќе..", "AddToShoppingCart", "ShoppingCart", new { id = Model.MobilenID }, new { @class = "btn btn-success" })</a>
            </p>
        </div>

    </div>

</div>
<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="/Images/m/m17.jpeg" alt="" style="width:150px; height:200px" />
        <div class="caption">
            @*<h3 class="pull-right">$@Model.Cena.ToString()</h3>*@
            <h3>
                <a href="/Home/Details/@Model.MobilenID">@Model.Ime</a>
            </h3>
            <p>@Model.Opis</p>
        </div>
        <div class="addToCart text-right">
            <p class="button ">
                <a>@Html.ActionLink("Види повеќе..", "AddToShoppingCart", "ShoppingCart", new { id = Model.MobilenID }, new { @class = "btn btn-success" })</a>
            </p>
        </div>

    </div>

</div>